Q1. What is data encoding? How is it useful in data science?

Ans:-Data encodinfg is used to represent categorical feature in machine learning algorithms.
     Encoding or continuization is the transformation of categorical variables to binary or        numerical counterparts. An example is to treat male or female for gender as 1 or 0.            Categorical variables must be encoded in many modeling methods (e.g., linear regression,      SVM, neural networks).
     
     Machine learning models can only work with numerical values. For this reason, it is            necessary to transform the categorical values of the relevant features into numerical          ones. This process is called feature encoding.

Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Ans:-When we have a feature where variables are just names and there is no order or rank to        this variable's feature. For example: City of person lives in, Gender of person, Marital      Status, etc… In the above example, We do not have any order or rank, or sequence.

Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

Ans:-
Nominal Encoding-
When we have a feature where variables are just names and there is no order or rank to this variable's feature. For example: City of person lives in, Gender of person, Marital Status, etc… In the above example, We do not have any order or rank, or sequence.

One Hot Encoding Examples-
In One Hot Encoding, the categorical parameters will prepare separate columns for both Male and Female labels. So, wherever there is a Male, the value will be 1 in the Male column and 0 in the Female column, and vice-versa.

When the number of categories in the dataset is quite large. One Hot Encoding should be avoided in this case as it can lead to high memory consumption.

Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

Ans:-Since there is no ranking between values then we would prefer nominal/One Hot Encoding.
    there are five unique values hence OHE produe five features on its basis.

Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

Ans:-Given rows=1000, columns=5, 
        2-categorical column
        3-numerical column
        
      Since a column may contain 1000 unique values we need to create 1000 columns for one           categorical column since there are two categorical column we need to add 2000 columns

Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

Ans:-Since there is no rank we would prefer one Hot Encoding Technique

Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

In [1]:
import pandas as pd
data={'customer_gender':['male','female','male','male','female'],
     'age':[25,30,29,35,45],
     'contract_type':['unit','bilateral','unit','implied','unit'],
     'monthly_charge':[1200,1350,1100,1450,2400],
     'tenure(year)':[1,2,1,2,1]}
df=pd.DataFrame(data)

In [2]:
df

  customer_gender  age contract_type  monthly_charge  tenure(year)
0            male   25          unit            1200             1
1          female   30     bilateral            1350             2
2            male   29          unit            1100             1
3            male   35       implied            1450             2
4          female   45          unit            2400             1

In [7]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
arr=encoder.fit_transform(df[['customer_gender','contract_type']]).toarray()

In [8]:
arr

array([[0., 1., 0., 0., 1.],
       [1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0.],
       [1., 0., 0., 0., 1.]])

In [9]:
df2=pd.DataFrame(arr,columns=encoder.get_feature_names_out())

In [10]:
df2

,customer_gender_female,customer_gender_male,contract_type_bilateral,contract_type_implied,contract_type_unit
0,0.0,1.0,0.0,0.0,1.0
1,1.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,0.0,1.0
3,0.0,1.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0,1.0

In [15]:
pd.concat([df,df2],axis=1)

,customer_gender,age,contract_type,monthly_charge,tenure(year),customer_gender_female,customer_gender_male,contract_type_bilateral,contract_type_implied,contract_type_unit
0,male,25,unit,1200,1,0.0,1.0,0.0,0.0,1.0
1,female,30,bilateral,1350,2,1.0,0.0,1.0,0.0,0.0
2,male,29,unit,1100,1,0.0,1.0,0.0,0.0,1.0
3,male,35,implied,1450,2,0.0,1.0,0.0,1.0,0.0
4,female,45,unit,2400,1,1.0,0.0,0.0,0.0,1.0