Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.

Ans:-This encoding technique appears almost similar to Label Encoding. But, label encoding          would not consider whether a variable is ordinal or not, but in the case of ordinal            encoding, it will assign a sequence of numerical values as per the order of data.

      For example, if one feature contains - {low, medium, high}, it can be converted into           {1,2,3}, where 1 represents low, 2 represents medium, and 3 represents high.This is           ordinal encoding.

Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.

Ans:-In this technique we will take help of our target variable to encode the categorical data
     Target-guided ordinal encoding is a technique used to encode categorical variables for        machine learning models. This encoding technique is particularly useful when the target        variable is ordinal, meaning that it has a natural order, such as low, medium, and high.

     Target-guided ordinal encoding involves replacing the categories in the categorical            variable with ordinal numbers that are based on the relationship between the category and      the target variable. The encoding process involves sorting the categories based on the        mean of the target variable for each category and then assigning a numerical value to          each category based on its rank.
     
     Example of how target-guided ordinal encoding can be applied:

     Let’s say we have a dataset that contains information about employees at a company. One        of the variables in the dataset is “job level”, which is a categorical variable with four      categories: junior, intermediate, senior, and executive. The target variable in this case      is the employee’s salary.

     To encode the “job level” variable using target-guided ordinal encoding, we would first c 
     Junior: $40,000
     Intermediate: $60,000
     Senior: $80,000
     Executive: $120,000
     Next, we would sort the job levels based on their mean salaries, from lowest to highest.      Then, we would assign ordinal numbers to each job level based on their rank:

    Junior: 1
    Intermediate: 2
    Senior: 3
    Executive: 4
    Now, we have encoded the “job level” variable using target-guided ordinal encoding, and we     can use these ordinal numbers as input features in a machine learning model to predict         employee salaries. This encoding technique takes into account the relationship between the     job level categories and the target variable, which can help improve the accuracy of the       model.

Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

Ans:-
Covariance is a statistical tool investors use to measure the relationship between the movement of two asset prices. A positive covariance means asset prices are moving in the same general direction. A negative covariance means asset prices are moving in opposite directions.

Covariance is calculated by analyzing at-return surprises (standard deviations from the expected return) or multiplying the correlation between the two random variables by the standard deviation of each variable.

The covariance between X and Y is defined as Cov(X,Y)=E[(X−EX)(Y−EY)]=E[XY]−(EX)(EY).
cov(x,y)=E[(x-x`)(y-y`)]/N-1

Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library.
Show your code and explain the output.

In [1]:
# creating dataframe to perform Label encoding
import pandas as pd
data={'color':["red","green","blue"],
     'size':["small","medium","large"],
     'material':["wood","metal","Plastic"]}
df=pd.DataFrame(data)

In [2]:
df

   color    size material
0    red   small     wood
1  green  medium    metal
2   blue   large  Plastic

In [14]:
# applying Label encoder to the created dataframe
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
arr1=le.fit_transform(df['color'])
arr2=le.fit_transform(df['size'])
arr3=le.fit_transform(df['material'])

In [15]:
# create a new dataframe using output of Label encoder
data={'color_label':arr1,
     'size_label':arr2,
     'material_label':arr3}
df1=pd.DataFrame(data)

In [16]:
df1

   color_label  size_label  material_label
0            2           2               2
1            1           1               1
2            0           0               0

In [17]:
# merging both dataframe
pd.concat([df,df1],axis=1)

   color    size material  color_label  size_label  material_label
0    red   small     wood            2           2               2
1  green  medium    metal            1           1               1
2   blue   large  Plastic            0           0               0

Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.

In [20]:
import pandas as pd
data={'Age':[25,30,26,45,30],
     'Income':[50000,100000,120000,50000,1000000],
     'Education_level':['B.tech','M.tech','P.hd','B.tech','M.tech']}
df=pd.DataFrame(data)
df

   Age   Income Education_level
0   25    50000          B.tech
1   30   100000          M.tech
2   26   120000            P.hd
3   45    50000          B.tech
4   30  1000000          M.tech

In [28]:
df[['Age','Income']].cov()

             Age        Income
Age         64.7 -3.910000e+05
Income -391000.0  1.702300e+11

There is no elation exist between age and salary

Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?

Ans:-Gender is a nominal variable so we can go fo nominal encoding for it
     Education is a ordinal variable so opt for ordinal encoding for it
     Emplyement Status is also ordinal

Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/ East/West). Calculate the covariance between each pair of variables and interpret the results.

In [33]:
import pandas as pd
data={'Temperature':[25,45,35],
     'Humidity':[71,80,60],
     'Weather_condition':['Sunny','cloudy','Rainy'],
     'Wind_Direction':['north','east','west']}
df=pd.DataFrame(data)
df

   Temperature  Humidity Weather_condition Wind_Direction
0           25        71             Sunny          north
1           45        80            cloudy           east
2           35        60             Rainy           west

In [37]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
ary=encoder.fit_transform(df[['Weather_condition','Wind_Direction']]).toarray()

In [38]:
ary

array([[0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0., 0.],
       [1., 0., 0., 0., 0., 1.]])

In [39]:
df1=pd.DataFrame(ary,columns=encoder.get_feature_names_out())

In [40]:
df1

,Weather_condition_Rainy,Weather_condition_Sunny,Weather_condition_cloudy,Wind_Direction_east,Wind_Direction_north,Wind_Direction_west
0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,1.0

In [43]:
df3=pd.concat([df,df1],axis=1)

In [44]:
df3

,Temperature,Humidity,Weather_condition,Wind_Direction,Weather_condition_Rainy,Weather_condition_Sunny,Weather_condition_cloudy,Wind_Direction_east,Wind_Direction_north,Wind_Direction_west
0,25,71,Sunny,north,0.0,1.0,0.0,0.0,1.0,0.0
1,45,80,cloudy,east,0.0,0.0,1.0,1.0,0.0,0.0
2,35,60,Rainy,west,1.0,0.0,0.0,0.0,0.0,1.0

In [45]:
df3[['Temperature','Humidity','Weather_condition_Rainy','Wind_Direction_north','Wind_Direction_west']].cov()

,Temperature,Humidity,Weather_condition_Rainy,Wind_Direction_north,Wind_Direction_west
Temperature,1.000000e+02,45.000000,-5.551115e-17,-5.000000,-5.551115e-17
Humidity,4.500000e+01,100.333333,-5.166667e+00,0.333333,-5.166667e+00
Weather_condition_Rainy,-5.551115e-17,-5.166667,3.333333e-01,-0.166667,3.333333e-01
Wind_Direction_north,-5.000000e+00,0.333333,-1.666667e-01,0.333333,-1.666667e-01
Wind_Direction_west,-5.551115e-17,-5.166667,3.333333e-01,-0.166667,3.333333e-01